extends layout
block content
    include standard/subnav
    #home-content
        p
            | Имя: #{user.firstName}
        p
            | Фамилия: #{user.lastName}
        p
            | Никнейм: #{user.username}
        p
            | Тип пользователя: #{user.userType}
        p
            | Почтовый ящик: #{user.email}
        p
            | Кошелек: #{user.purse} рублей
        p
            | Зарегистрирован: #{moment(user.registrated).format('D MMMM YYYY H:mm')}

            form.form-inc-purse(method='POST', action='/purse-inc')

                input(type='text', name='pursesum', placeholder='Бабки сюда!' required)
                input.btn.btn-danger.btn-sm.purse-inc(type='submit', value='Пополнить!' required)