p
    |#{user.firstName}
p
    |#{user.lastName}
p
    |#{user.username}
p
    |#{user.userType}
p
    |#{user.email}
p
    |#{user.purse}
p
    |#{moment(user.registrated).format('D MMMM YYYY H:mm')}